@import url(https://fonts.googleapis.com/css?family=Raleway:300,700,800);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,500,700);

body {
    font-size: 16px;
    text-rendering: optimizeLegibility;
    font-weight: initial;
  }

/* .name {
  align-items: center;
}

  .firstname {
    text-transform: lowercase;
} */
h5 {
  font-family: 'lustiana';
}

.dev-type {
  font-family: 'raleway';
  font-size: 21px;
  font-style: italic;
  font-weight: 700;
  color: grey;
}

.name h1 {
  margin-top: 6rem;
  font-family: 'Raleway';
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 750;
  font-style: ;
}

.links {
  font-family: 'lustiana';
  color: rgb(99, 99, 99);
}
.links:hover {
  color: grey;
  font-size: 22.5px;
  font-weight: bolder;
}

.info {
  font-family: 'lustiana';
}